font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Spartan', sans-serif;

body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}

.container-fluit{
    width: 1400px;
}

.primary-bottom {
    padding: 12px 41px;
    background-color: #e73c3e!important;
    border-color: #e73c3e;
    position: relative;
    z-index: 1;
}
.primary-bottom::after{
    content: "";
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #000;
    z-index: -1;
    transition: .4s;
}
.primary-bottom:hover::after{
    width: 100%;
}

                   /* header-menu */
.main-header .container-fluid{
    max-width: 1480px;
}
.main-header{
    top:0;
    left: 0;
    width: 100%;
    background-attachment: fixed;
    z-index: 999;
}
.main-header-menu{
    margin-bottom: 0;
}
.main-header-menu li{
    display: block;
    padding: 20px;
}
.main-header-menu li a{

 text-decoration: none;
 color: #000;
}
.main-header-menu li a:hover{}

/* dropdawan */
ul.main-header-menu li{
    margin-bottom: 0;
    position: relative;
}
.main-header-menu li ul{
    padding-left: 0;
    left: 0;
    top: 110%;
    width: 200px;
    display: block;
    position: absolute;
    background-color: #fff;
    padding-left: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scale(0);
}
.main-header-menu li ul li{}
.main-header-menu li ul li a{
    color: #000;
}
ul.main-header-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


.search-header span{
   padding:0px 20px;
    font-size: 30px;
    border-right: 1px solid red;
}
.call-header{
    width: 200px;
}
.header-call-icon span{
    color: #e73639;
    font-size: 25px;
}
.header-call-info span{
    display: block;
    padding-top: 10px;
    color:#e73639 ;
}
.header-call-info a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}



        /* benner-section */
 .benner-section{
     background-image:url(https://i.ibb.co/VSY7rLL/main-banner2.jpg) ;
     padding: 50px 0;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }

 .content h5{
    color: #e73639;
     font-size: 20px;
    
 }
 .content h1{
     font-size: 70px;
 }
 .content p{
     font-size: 20px;
 }
 .benner-btn{
     margin-top: 30px;
 }

 .benner-follower-section{
     margin-top: 200px;
 }
 .benner-follower-section ul{
     padding-left: 0;
 }
 .benner-follower-section ul li{
     display: inline-block;
 }
 .benner-follower-section ul li p{
    margin-left: 0;
 }
 .benner-follower-section ul li span{
     display: block;
     width: 60px;
     height: 1px;
     background-color: #e73639;
     
     margin: 0 10px;
     margin-bottom: 5px;
 }
 .benner-follower-section ul li a{
     display: inline-block;
     padding: 10px;
     color: #000;
 }
 .benner-follower-section ul li a:hover{
     color: #e73639;
 }

   
         /* icon-logo-section */

         .icon-logo-section{
             padding: 50px 0;
         }
         .icon-logo-section ul{
             display: inline-block;
         }
         .icon-logo-section ul li{
             padding: 30px 20px;
             display: inline-block;
         }
         .icon-logo-section ul li a{
             display: block;
         }


      




